@page
@model MyServerRenderedPortal.Pages.ShoeSizes.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoeSize[0].Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoeSize)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@*<h4>Course</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Course.CourseID" />
                <div class="form-group">
                    <label asp-for="Course.CourseID" class="control-label"></label>
                    <div>@Html.DisplayFor(model => model.Course.CourseID)</div>
                </div>
                <div class="form-group">
                    <label asp-for="Course.Title" class="control-label"></label>
                    <input asp-for="Course.Title" class="form-control" />
                    <span asp-validation-for="Course.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Course.Credits" class="control-label"></label>
                    <input asp-for="Course.Credits" class="form-control" />
                    <span asp-validation-for="Course.Credits" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Course.Department" class="control-label"></label>
                    <select asp-for="Course.DepartmentID" class="form-control"
                            asp-items="@Model.DepartmentNameSL"></select>
                    <span asp-validation-for="Course.DepartmentID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@